#### Lecture Notes

##### Funtions

In [1]:
x = 1
y = 2
x + y

3

In [2]:
x

1

In [3]:
def add_numbers(x,y):
    return x + y
add_numbers(1,2)

3

In [4]:
def add_numbers(x,y,z):
    return x + y + z
add_numbers(1,2,3)

6

none = null

In [7]:
def add_numbers(x, y, z = None): #can write function with 2 or 3 variables
    if (z == None): #set flag parameter
        return x + y 
    else:
        return x + y + z
print(add_numbers(1,2))
print(add_numbers(1,2,3))

3
6

In [8]:
def do_math(a, b, kind='add'):
    if (kind=='add'):
        return a+b
    else:
        return a-b

do_math(1, 2)

3

#### Types and Sequences

Tuples are not mutiable and use ( )

Lists are mutable and use []

List and tuples are iterative and can use for/else

#### Strings

Strings are unicode. UTF is attempt to solve unicode issues.

Calling format() helps functioning.

### Reading and Writing CSV Files

In [16]:
import csv

%precision 2 #2 decimal places

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile)) #read file and convert to list of dictionaries

mpg[:3] #look at first three elements

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [18]:
len(mpg) #234 cars

234

In [19]:
mpg[0].keys() #pulls columns

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

### Time

Use epoch as reference for time

### Maps and Objects

Here is a list of faculty teaching this MOOC. Can you write a function and apply it using map() to get a list of all faculty titles and last names (e.g. ['Dr. Brooks', 'Dr. Collins-Thompson', â€¦]) ?

In [22]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title, lastname)

list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']