Objects are an encapsulation of variables and functions into a single entity. Objects get their variables and functions from classes. Classes are essentially a template to create your objects.

An example of a class in python:

In [7]:
class Person:
    department = 'School of Information' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [8]:
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

Christopher Brooks live in Ann Arbor, MI, USA and works in the department School of Information

The connection between the attributes or the methods with the object is indicated by a “dot” (”.”) written between them.

Here's an example of mapping the min function between two lists. The map() function executes a specified function for each item in a iterable. The item is sent to the function as a parameter. map(function, iterables)

The map() function applies a given to function to each item of an iterable and returns a list of the results.

The returned value from map() (map object) can then be passed to functions like list() (to create a list), set() (to create a set) and so on.

In [10]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

Now let's iterate through the map object to see the values.

In [13]:
for item in cheapest:
    print(item)

9.0
11.0
12.34
2.01

In [15]:
box1 = [5, 1, 12, 22]
box2 = [9, 336, 55,8]
expensive = map(max, box1,box2)
expensive

for item in expensive:
    print(item)

9
336
55
22