#### The Python Programming Language: Types and Sequences

Use type to return the object's type.

In [1]:
type('This is a string')

str

In [2]:
type(None)

NoneType

In [3]:
type(1)

int

In [4]:
type(1.0)

float

In [5]:
type(add_numbers)

NameError: name 'add_numbers' is not defined

Tuples are immutable data structure (cannot be altered).

In [6]:
x = (1,'a',2,'b')
type(x)

tuple

##### Lists

Lists are a mutable data structure.

In [1]:
x = [1,'a',2,'b']
type(x)

list

Use append to append an object to a list. Append adds an item to the end of list.

In [9]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

How to loop through each item in the list:

In [10]:
for item in x:
    print(item)

1
a
2
b
3.3

How to loop through list using the indexing operator:

In [11]:
i=0
while( i !=len(x) ):
    print(x[i])
    i=i+1

1
a
2
b
3.3

Use + to concatenate list.

In [15]:
print(type([1,2]))
print(type([2.3]))

[1,2]+[2,3]

<class 'list'>
<class 'list'>

[1, 2, 2, 3]

Use * to repeat lists

In [16]:
[1]*3

[1, 1, 1]

Use the in operator to check if something is inside a list.

In [17]:
1 in [1,2,3]

True

In [18]:
1 in [2,3,4]

False

##### Strings

Now let's look at strings. Use bracket notation to slice a string.

In [20]:
x = 'This is a string'
print(x[0]) #first character
print(x[1]) #second character
print(x[0:1]) # first character but have explicitly set the end character
print(x[0:2]) #first two characters

T
h
T
Th

How to loop through a string:

In [21]:
x = 'This is a string'
i=0
while( i !=len(x) ):
    print(x[i])
    i=i+1

T
h
i
s

i
s

a

s
t
r
i
n
g

This will return the last element of the string.

In [23]:
x[-1]

'g'

This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

In [25]:
x[-4:-2]

'ri'

This is a slice from the beginning of the string and stopping before the 3rd element.

In [26]:
print(x[:3])
print(x[0:3])

Thi
Thi

This is a slice starting from the fourth element of the string and going all the way to the end.

In [27]:
x[3:]

's is a string'

In [30]:
firstname = 'Christopher'
secondname = 'Robbins'

print(firstname +'' + secondname)
print(firstname*3)
print('Chris' in firstname)
print('Jeff' in firstname)

ChristopherRobbins
ChristopherChristopherChristopher
True
False

split returns a list of all the words in a string, or a list split on a specific character.

In [34]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0] #[0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] selects the last element of the list
middname = 'Christopher Arthur Hansen Brooks'.split(' ')[1]
secmidname = 'Christopher Arthur Hansen Brooks'.split(' ')[2]
print(firstname)
print(lastname)
print(middname)
print(secmidname)

Christopher
Brooks
Arthur
Hansen

Make sure you convers objects to string before concatenating.

In [35]:
'Chris' + 2

TypeError: must be str, not int

In [37]:
'Chris' + str(2)

'Chris2'

In [38]:
'Chris '+ str(2)

'Chris 2'

Dictionaries associate keys with values.The Python Dictionary object provides a key:value indexing facility. The Dictionary object is used to hold a set of data values in the form of (key, item) pairs. A dictionary is sometimes called an associative array because it associates a key with an item. The keys behave in a way similar to indices in an array, except that array indices are numeric and keys are arbitrary strings. Each key in a single Dictionary object must be unique.

In [62]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks'] # Retrieve a value by using the indexing operator

'brooksch@umich.edu'

In [63]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

Iterate over all of the values:

In [65]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
None

In [66]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
None

x: is the key, .valuesin the item, and x.items() are both.

In [71]:
for name,email in x.items():
    print(name,email)

Christopher Brooks brooksch@umich.edu
Bill Gates billg@microsoft.com
Kevyn Collins-Thompson None

You can unpack a sequence into different variables:

In [72]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [73]:
fname

'Christopher'

In [74]:
lname

'Brooks'

In [75]:
email

'brooksch@umich.edu'

In [76]:
x

('Christopher', 'Brooks', 'brooksch@umich.edu')

Make sure the numbers of values you are unpacking matches the number of variabls being assigned.

In [77]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')
fname, lname, email = x

ValueError: too many values to unpack (expected 3)

In [78]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')
fname, lname, email, city = x
city

'Ann Arbor'

In [79]:
print('Chris' + 2)

TypeError: must be str, not int

In [80]:
print('Chris' + str(2))

Chris2

In [81]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96